<!DOCTYPE html>

<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"> </script>
    <meta charset="UTF-8">
    <title>{% block title %}Карточка блога{% endblock %}</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        Вы уверены что хотите удалить блог?
        <br><input type="submit" class="btn btn-success" value="Да!">
        <a class="btn btn-secondary" href="{% url 'catalog:blog' %}" role="button">Назад </a>
    </form>



</body>
</html>